<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register As An IT Freelancer Today</title>
    <link rel="stylesheet" href="../../static/root/assets/css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
        <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-11 col-sm-10 col-md-10 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                    <h2 id="heading">Getting Registered As An IT Freelancer</h2>
                    <p>Fill all form field to go to next step</p>

                    <form id="msform" method="post" action="{{url_for('register_page')}}">
                        <!-- progressbar -->
                        <ul id="progressbar">
                            <li class="active" id="account"><strong>Account</strong></li>
                            <li id="personal"><strong>Personal</strong></li>
                            <li id="payment"><strong> Resume</strong></li>
                            <li id="confirm"><strong>Finish</strong></li>
                        </ul>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                        </div> <br> <!-- fieldsets -->
                       
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">Freelancer Information:</h2>
                                    </div>
                                    <div class="col-5">
                                        <h2 class="steps">Step 1 - 4</h2>
                                    </div>
                                </div>  
                                <label class="fieldlabels">Area of Specialization:</label> 
                                <input type="text" name="area_of_specialization" placeholder="Area of Specialization" />

                                 <label class="fieldlabels">Programming Skills Acquired :</label>
                                  <input type="text" name="skill_acquired" placeholder="Acquired Skills" />

                                  <label class="fieldlabels">Years of Experience:</label> 
                                  <input type="text" name="experience" placeholder="Years of Experience" />

                                  <label class="fieldlabels">Date of Birth:</label>
                                   <input type="date" name="birth_date" placeholder="Date of birth" />

                            </div> <input type="button" name="next" class="next action-button" value="Next" />
                        </fieldset>

                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">Personal Information:</h2>
                                    </div>
                                    <div class="col-5">
                                        <h2 class="steps">Step 2 - 4</h2>
                                    </div>
                                </div> 

                                 <label class="fieldlabels">First Name: *</label> 
                                 <input type="text" name="first_name" placeholder="First Name" />

                                 <label class="fieldlabels">Last Name:  *</label>
                                  <input type="text" name="last_name" placeholder="Last Name" />

                                  <label class="fieldlabels">Email: *</label> 
                                  <input type="email" name="email" placeholder="Email Address" />

                                <label class="fieldlabels">Contact Num: *</label> 
                                <input type="text" name="contact_num" placeholder="Contact Number." />

                                <label class="fieldlabels">Country Of Residence: *</label> 
                                <input type="text" name="country_of_residence" placeholder="Country Of Residence" />

                            </div> 
                            
                            <input type="button" name="next" class="next action-button" value="Next" /> 
                            
                            <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                        </fieldset>
                       
                       
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">Resume Confirmation:</h2>
            
                                    </div>
        
                                    <div class="col-5">
                                        <h2 class="steps">Step 3 - 4</h2>
                                    </div>
                                </div>

                                 <label  class="fieldlabels" for="job_type">Freelancer Job  Category:</label>
                                <select id="payment_method" name="job_type" required>
                                    <option disabled selected>Select an option</option>
                                    <option value="regular">Full Time</option>
                                    <option value="part_time">Part Time</option>
                                </select>


                            </div> 
                            <input type="submit" name="next" class="next action-button" value="Submit" /> 
                            <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                        </fieldset>


                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">Finish:</h2>
                                    </div>
                                    <div class="col-5">
                                        <h2 class="steps">Step 4 - 4</h2>
                                    </div>
                                </div> <br><br>
                                <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
                                <div class="row justify-content-center">
                                    <div class="col-3"> <img src="../../static/root/assets/img/Confirm.png" class="fit-image"> </div>
                                </div> <br><br>
                                <div class="row justify-content-center">
                                    <div class="col-7 text-center">
                                        <h5 class="purple-text text-center">You Have Successfully Signed Up</h5>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>


                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../../static/root/assets/js/register.js"></script>
</body>
</html>